<?xml version="1.0"?>
<!--
/**
 * Copyright © MaGuru. All rights reserved.
 * This module is developed for Magento® by MaGuru.
 * Magento® is a trademark of Adobe Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MaGuru_MonoCore">
        <sequence>
            <module name="MaGuru_Core"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
